<div  class="row well well-sm" style="margin-bottom:2px;" ng-show="user._id !== stormer._id" ng-repeat="stormer in stormers">
    <div class="col-md-1 storm-section " >
     <image ng-src="{{stormer.image}}" class="img-responsive">      
    </div>
    <div class="col-md-11">
        <strong>{{stormer.username}}</strong> &nbsp-&nbsp {{stormer.email}} <br>
    <a class="btn btn-primary" ng-click="follow(user._id, stormer._id)" ng-hide="checkIsFollowing(stormer._id)">follow</a>
	<a class="btn btn-primary" ng-click="unfollow(user._id, stormer._id)" ng-show="checkIsFollowing(stormer._id)">unfollow</a>
    </div>
</div>
